tags
partition_finder.tmproj
*.pyc
.idea
partfinder.log
example/analysis
tests/testing.log
log.txt
programs/phyml-read-only/.lock-waf_darwin_build
programs/phyml-read-only/.waf*
programs/phyml-read-only/build/
