tags
partition_finder.tmproj
*.pyc
.idea
partfinder.log
example/analysis
tests/testing.log
log.txt
.lock*
.waf*
programs/phyml_source/build/
.noseids
example/results.bin
.DS_Store
.ropeproject
analysis
.cache
*.so
*.o
build
examples/nucleotide/best_scheme_GTR+G.txt
examples/nucleotide/best_scheme_GTR+I+G.txt
examples/nucleotide/best_scheme_JC.txt
examples/nucleotide/best_scheme_all_models.txt
examples/aminoacid/best_scheme_greedy.txt
examples/aminoacid/Als_etal_2004.phy_phyml_lk.txt
examples/aminoacid/Als_etal_2004.phy_phyml_stats.txt
examples/aminoacid/Als_etal_2004.phy_phyml_tree.txt
examples/aminoacid/best_scheme_kmeans_site_likelihoods.txt
examples/aminoacid/best_scheme_kmeans_site_lnl_genes.txt
examples/aminoacid/filtered_source.phy_phyml_tree.txt
examples/nucleotide/best_scheme_greedy_codon_genes.txt
examples/nucleotide/best_scheme_greedy_genes.txt
examples/aminoacid/best_scheme_raxml_site_lnl_genes.txt
examples/nucleotide/test.phy.GENE.8
examples/nucleotide/test.phy.reduced
examples/nucleotide/RAxML_info.partitions
examples/nucleotide/best_scheme_all_models_kmeans_wss.txt
examples/nucleotide/raxml_def_all_models_wss.txt
docs/.Rhistory
docs/.Rapp.history
